

<h1 class='opener center'><%= @user.name %>'s Wine Rack</h1>
<h3 class='opener center'><%= link_to 'Edit Profile', edit_user_path(@user), class: "o-link" %></h3>

<% if @wines.count > 0 %>
<div id="wine-listing" class="transitions-enabled">
	<% @wines.each do |wine| %>
	<%= link_to wine_path(wine) do %><div class="box2">
		<h5 class="center opener"><%= wine.name %></h5>
		<p class='center'><img src="<%= wine.image  %>"></p>
	</div><% end %>
<% end %>
</div>
<% else %>
	<h4 class="opener center">Why do you need a wine rack? You haven’t picked one wine, let alone many wines that would necessitate an entire rack.</h4>
<% end %>

