<h1 class='opener center'>Login</h1>
<h3 class="opener center">or <%= link_to 'Register', new_user_path, class: 'o-link' %></h3>

<div class='form'>
<%= form_tag user_sessions_path, :method => :post do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="field">
    <%= label_tag :password %><br />
    <%= password_field_tag :password %><br><br>
    <%= submit_tag "Login", class: 'submit-btn' %>
  </div>   
<% end %>
</div>