<h1>Rate this Wine!</h1>

<% if @wine.ratings.any? %>
<div id="rating-time">
  <%= render :partial => "show_rating" %>
</div>
<% else %>
<p>Be first to rate this wine!</p>
<% end %>

<% if current_user %>
<%= form_for [@wine, @rating], remote: true do |f|  %>
  <div class="field">
    <%= f.label :one_star %><br />
    <%= f.radio_button 'stars', 1 %>
  </div>
  <div class="field">
    <%= f.label :two_star %><br />
    <%= f.radio_button 'stars', 2 %>
  </div>
  <div class="field">
    <%= f.label :three_star %><br />
    <%= f.radio_button 'stars', 3 %>
  </div>
  <div class="field">
    <%= f.label :four_star %><br />
    <%= f.radio_button 'stars', 4 %>
  </div>
  <div class="field">
    <%= f.label :five_star %><br />
    <%= f.radio_button 'stars', 5 %>
  </div>
  <div class="actions">
      <%= f.submit %>
  </div>
<% end %>
<% else %>
  <p>Please <%= link_to "log in", new_user_session_path %> to add a review.</p> 
<% end %>