
<h1 class='opener center'><%= @wine.name %></h1>

<p>Location: <%= @wine.location %></p>
<p>Vintage: <%= @wine.vintage %></p>
<p>Winery: <%= @wine.winery %></p>
<% if @wine.note? %>
<p>Additional Information: <%= @wine.note %></p>
<% end %>
<p>varietal: <%= @wine.varietal %></p>
<p>Price: <%= @wine.price %></p>
<% if @wine.wine_type? %>
<p>Type: <%= @wine.wine_type %></p>
<% end %>
<p><img src="<%= @wine.image %>"></p>
<% if @wine.note? %>
<p>Additional Information: <%= @wine.note %></p>
<% end %>

<%= render 'reviews'  %>

<%= render 'ratings'  %>
