<%= link_to 'Back', wines_path %>
<h1><%= @wine.name %></h1>

<p>Location: <%= @wine.location %></p>
<p>Vintage: <%= @wine.vintage %></p>
<p>Winery: <%= @wine.winery %></p>
<% if @wine.note? %>
<p>Additional Information: <%= @wine.note %></p>
<% end %>
<p>varietal: <%= @wine.varietal %></p>
<p>Price: <%= @wine.price %></p>
<% if @wine.wine_type? %>
<p>Type: <%= @wine.wine_type %></p>
<% end %>
<p><img src="<%= @wine.image %>"></p>
<% if @wine.note? %>
<p>Additional Information: <%= @wine.note %></p>
<% end %>

<h2>Reviews</h2>

<% @wine.reviews.each do |review| %>
	<p><%= review.body %></p>
<% end %>

<% if current_user %>
  <h4>New Review</h4>
  <%= form_for [@wine, @review]  do |f| %>
    <% if @review.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

        <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :body %><br />
      <%= f.text_area :body %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review.</p> 
<% end %>

<h1>Rate this Wine!</h1>


<p>Average rating is <%= @wine.average_rating %></p>

<% if current_user %>
<%= form_for [@wine, @rating] do |f|  %>
  <div class="field">
    <%= f.label :one_star %><br />
    <%= f.radio_button 'stars', 1 %>
  </div>
  <div class="field">
    <%= f.label :two_star %><br />
    <%= f.radio_button 'stars', 2 %>
  </div>
  <div class="field">
    <%= f.label :three_star %><br />
    <%= f.radio_button 'stars', 3 %>
  </div>
  <div class="field">
    <%= f.label :four_star %><br />
    <%= f.radio_button 'stars', 4 %>
  </div>
  <div class="field">
    <%= f.label :five_star %><br />
    <%= f.radio_button 'stars', 5 %>
  </div>
  <div class="actions">
      <%= f.submit %>
  </div>
<% end %>
<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review.</p> 
<% end %>
