<!DOCTYPE html>
<html>
<head>
  <title>Wineio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Mapbox add-on -->
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
</head>
<body>
	<div id="nav">
    <%= link_to "Wineio", root_path, class: "brand"  %>
    <div class='login'>
    <% if current_user %>
      
      <%= link_to "Logout", :logout, method: :post %>
      <%= link_to "Profile", user_path(current_user.id) %>
    <% else %>
      <%= link_to "Register", new_user_path %>
      <%= link_to "Login", :login %>
    <% end %>
      <%= link_to 'Discover', wines_path  %>
    </div>
    <div>
      <span class="center" id="notice"><%= flash[:notice] %></span>
      <span class='center' id="alert"><%= flash[:alert] %></span>
    </div>
  </div>
  <script src="https://cdn.auth0.com/w2/auth0-widget-5.0.min.js"></script>
<script type="text/javascript">
  
  var widget = new Auth0Widget({
    domain:         'dhurls99.auth0.com',
    clientID:       'W5OqSKypRQRMZChFkHyhXUc1Bd6YxEWj',
    callbackURL:    'http://localhost:3000/auth/auth0/callback'
  });
  
</script>
  <button onclick="widget.signin({ scope: 'openid profile' })">Login</button>
  <br class="clear">

<%= yield %>

</body>
</html>
