<!DOCTYPE html>
<html>
<head>
  <title>Wineio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Mapbox add-on -->
    <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css' rel='stylesheet' />
    
</head>
<body>
	 <div id="nav">
    <%= link_to "Wineio", root_path, class: "brand"  %>
    <div class='login'>
    <% if current_user %>
      <%= link_to "Edit Profile", edit_user_path(current_user.id) %>
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "Register", new_user_path %>
      <%= link_to "Login", :login %>
    <% end %>
      <%= link_to 'Discover', wines_path  %>
    </div>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
  <br class="clear">

<%= yield %>

</body>
</html>
